.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  font-synthesis: none;
}

.main {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
}
